<%- include("./layouts/userheader.ejs") %>


<section class="order_details section_gap mt-5">
    <div class="container mt-3">
        <div class="container">
            <h1>Contact Us</h1>
            <p>If you have any questions or need assistance, feel free to reach out to us:</p>
    
            <div class="contact-info" style="color: black;">
                <p><strong>Email:</strong> stepifyeshop@email.com</p>
                <p><strong>Phone:</strong> +91 7584569888</p>
                <p><strong>Address:</strong> 5th Avanue Kozhikode</p>
            </div>     
    </div>
</section>

<%- include("./layouts/footer.ejs") %>