<%- include("./layouts/userheader.ejs") %>
<section class="order_details section_gap mt-5">
    <div class="container mt-3">
        <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
        <a href="/" class="btn btn-primary">Continue Shopping</a>     
    </div>
</section>

<%- include("./layouts/footer.ejs") %>