<%- include("./layouts/userheader.ejs") %>



<section class="login_box_area section_gap ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img mt-5">
                    <img class="img-fluid" src="../../public/assetsfile/img/p5.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>Continue shopping with us by choosing your perfect footwares</p>
                        <a class="primary-btn" href="/signup">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" action="/set-new-password" method="post" >
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="conformPassword" name="conformPassword" placeholder="Conform Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Conform Password'">
                        </div>
                        
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                            <a href="/resetpassword">Log in by OTP</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("./layouts/footer.ejs") %>