<%- include("./layouts/userheader.ejs") %>

<style>
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar {
        background-color: #ffffff;
        border: 2px solid;
        width: 200px;
       
       
    }

    .sidebar h1 {
        font-size: 24px;
        padding: 20px;
        text-align: center;
    }

  

    

    .sidebar ul li a {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
        display: block;
        padding: 10px;
     
    }

 
   

</style>

<section class="checkout_area section_gap mt-5">
    <div class="container mt-4">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <div class="sidebar mt-5">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="/change-password">Change Password</a></li>
                            <li><a href="/user-Wallet">Wallet</a></li>
                            <li><a href="/user-profile">Add Address</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="content col-lg-8 col-md-9">
                    <section class="dashboard-content p-4">
                        <div class="container">
                            
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("./layouts/footer.ejs") %>
