<%- include("./layouts/header.ejs") %>

<!-- ..............................Body.............................................. -->

<h2 class="p-6">Welcome, <%= adminData.name %>!</h2>


<!-- ..............................Body.............................................. -->

<%- include("./layouts/footer.ejs") %>